.env
/tests/Settings.php
/vendor/
/data/
/nbproject/
/.build/
debian/.debhelper/
debian/conf/
debian/file2sharepoint/
debian/file2sharepoint.debhelper.log
debian/multiflexi-file2sharepoint.debhelper.log
debian/multiflexi-file2sharepoint.substvars
debian/multiflexi-file2sharepoint/
debian/debhelper-build-stamp
debian/file2sharepoint.substvars
debian/files
