Source: file2sharepoint
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq, moreutils
Standards-Version: 4.5.1
Homepage: https://github.com/VitexSoftware/file2sharepoint
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/file2sharepoint.git
#Vcs-Browser: https://salsa.debian.org/debian/file2sharepoint

Package: file2sharepoint
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},  composer-debian,
Description: Simple Sharepoint file uploader
 Push your files to Sharepoint from command line
