#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --with phpcomposer

override_dh_auto_build:
	# Generate Debian autoloader for file2sharepoint

override_dh_install:
	dh_install
	install -D -m 0644 debian/autoload.php debian/file2sharepoint/usr/share/php/file2sharepoint/autoload.php
	sed -i -e 's/..\/vendor/\/usr\/share\/php\/file2sharepoint/g'   debian/file2sharepoint/usr/lib/file2sharepoint/*.php
	sed -i -e 's/\.\.\/.env//g'  debian/file2sharepoint/usr/lib/file2sharepoint/*.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//' `'"'  debian/conf/composer.json |sponge debian/file2sharepoint/usr/lib/file2sharepoint/composer.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'   multiflexi/file2sharepoint.app.json |sponge debian/multiflexi-file2sharepoint/usr/lib/file2sharepoint/multiflexi/file2sharepoint.app.json
	install -D -m 0644 file2sharepoint.svg debian/file2sharepoint/usr/share/icons/hicolor/scalable/apps/io.github.vitexsoftware.file2sharepoint.svg
